body{
    /*
    background-attachment: fixed;
    */
    background-color:#EBEEF4;
}
*{
    font-family:Segoe UI;
    margin: 0;
}
.base{
    width: 100%;
    height: 82px;
    top: 0;
    left: 0;
    background-color: #3b5998;
    border-bottom: 1px solid #133783;
}
a{
    text-decoration: none;
}
.first{
    background-color: #3b5998;
    height: 80px;
    color: white;
    top: 0;
    left: 0;
    position: absolute;
}
#facebook{
    font-size: 40px;
    font-weight: bold;
    margin-top: 17px;
    margin-left: 180px;
}
#logInForm{
    display: inline-block;
    
    float: right;
}
#email{
    left: 750px;
    height: 60px;
    width: 180px;
    top:20px;
    font-size: 12px;
}
#password{
    left: 915px;
    height: 60px;
    width: 250px;
    top:20px;
    font-size: 12px;
}
#logIn{
    color: white;
    background-color:#5b7bc0;
    border-color: #5b7bc0;
}
#forget{
    color: #9cb4d8;
    text-decoration: none;
}
#container{
    position: relative;
    width: 100%;
    
}
figure{
    position: absolute;
    width: 600px;
    margin: 0;
    display: inline;
    margin-left: 180px;
    margin-top: 60px;
}
figcaption{
    color: #0e385f;
    font-size: 20px;
    font-weight: 700;
}
figure a img{
    width: 537px;
    height: 195px;
}
#signUp{
    position: absolute;
    float: right;
    width: 600px;
    display: inline;
    right: 0;
    
}
#messege{
    background-color: #EBEEF4;
}
#create{
    color: #333;
    margin: 0;
    font-family: inherit;
    font-size: 36px;
    font-weight: 600;
}
#caption{
    color:#333;
    font-family: inherit;
    font-weight: 500;
    font-size: 19px;
}
#information input{
    font-size: 18px;
    width:200px;
    border-radius: 5px;
    border:1px solid #bdc7d8;
}
#information .B{
    width: 408px;
    height: 40px;
}
#information .A{
    height: 35px;
}
#terms{
    color: darkgrey;
}
#submit{
    color: white;
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border: 1px solid;
    line-height: 126%;
    font-weight: bold;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}